<nav style="border: solid black 2px; background-color: purple;" class= "navbar navbar-expand-lg navbar-light">
	<a class="nav-link" href="login" style="background-color: purple; color: white;"> Login </a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="cadastro1"  style="background-color: purple; color: white;" > Cadastro</a>
		  </li>
		  <li>
			<a class="nav-link" href="tela_principal"  style="background-color: purple; color: white;" > Tela Principal</a>
		  </li>
		</ul>
	</div>

</nav>
