<nav style="border: solid black 2px; background-color: purple;" class= "navbar navbar-expand-lg navbar-light">
	<a class="nav-link" href="login" style="background-color: purple; color: greenyellow;text-shadow: 1px 1px 2px rgb(0, 0, 0);    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	"> Login </a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="cadastro1"  style="background-color: purple; color: greenyellow; text-shadow: 1px 1px 2px rgb(0, 0, 0);    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			"> Cadastro</a>
		  </li>
		  <li>
			<a class="nav-link" href="tela_principal"  style="background-color: purple; color: greenyellow;text-shadow: 1px 1px 2px rgb(0, 0, 0);    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			"> Tela Principal </a>
		  </li>
		</ul>
		<a href="perfil">
		<img style="border-radius: 50%; float: right; height: 40px; width: 40px; margin-left: 1590px;" src="/public/images/dogga_luiz.png">
	</a>
	</div>

</nav>
