<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">   

    <title>PetAdote-Cadastro</title>
    <%- include('partials/head') %>

     <link rel="stylesheet" href='/public/css/css_cadastro1.css'>
  </head>
  <body>
      
    <%- include('partials/header') %>
        <div class="container-fluid vh-100">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 vh-100 ColunaEsquerda">  
                    <div class="row h-100 d-flex align-content-center justify-content-center">
                        <div class="col-9 h-90 ColunaCadastro">
                            <div class= 'row d-flex align-content-center justify-content-center p-0 m-0'>
                                <div class="col-3 p-0 m-0 d-flex align-content-center justify-content-center Forms">
                                    <form id="cadastro_1" action="/views/home.ejs" method="POST">
                                        <p class="on.top" style="margin-top: 20px; font-size: 35px;"> Cadastro 1/3 :</p>
                                        <label class="Label" for="nome"> Nome:</label>
                                        <br>
                                        <input class="Input" type="text" id="nome" name="nome" placeholder="Digite aqui...">
                                        <br>
                                        <label class="Label" for="sobrenome"> Sobrenome: </label>
                                        <br>
                                        <input class="Input" type="text" id="sobrenome" name="sobrenome" placeholder="Digite aqui...">
                                        <br>
                                        <label class="Label" for="Usuario_Email"> Email:</label>
                                        <br>
                                        <input class="Input" type="text" id="Usuario_Email" name="useremail" placeholder="Digite aqui...">
                                        <br>
                                        <label class="Label" for="Usuario_Email_conf" style=> Confirmar Email: </label>
                                        <br>
                                        <input class="Input" type="text" id="Usuario_Email_conf" name="Usuario_Email_conf" placeholder="Digite aqui...">
                                        <br>
                                        <label class="Label" for="senha" style=> Senha: </label>
                                        <br>
                                        <input class="Input" type="password" id="senha" name="senha" placeholder="Digite aqui...">
                                        <br>
                                        <label class="Label" for="senha_conf" > Confirmar Senha: </label>
                                        <br>
                                        <input class="Input" type="password" id="senha_conf" name="senha" placeholder="Digite aqui...">
                                        <br>
                                        <label class="Label" for="data_nas"> Data de nascimento: </label>
                                        <br>
                                        <input class="Input" type="date" id="data_nas" name="data_nas" placeholder="Digite aqui...">
                                        <br>
                                        <div class="row-fluid">
                                        <input class="Botao" type=button type="submit" value="Proximo ->" style="margin-top: 20px;">  </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 vh-100 ColunaDireita">
                </div>             
            </div>
        </div>
        <%- include('partials/footer') %>
  </body>
  </html>