<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">   

    <title>PetAdote-Cadastro</title>
    <%- include('partials/head') %>

     <link rel="stylesheet" href='/public/css/css_cadastro2.css'>
  </head>
  <body>
      
    <%- include('partials/header') %>
        <div class="container-fluid vh-100">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 vh-100 ColunaEsquerda">  
                    <div class="row h-100  align-content-center justify-content-center">
                        <div class="col-lg-10 col-xl-9 col-md-9 col-sm-10 vh-80 ColunaCadastro">
                            <div class= 'row align-content-center justify-content-center'>
                                <div class="col-lg-12 col-sm-10 d-flex align-content-center justify-content-center Forms">
                                    <form id="cadastro_1" action="/views/home.ejs" method="POST">
                                        <p style="margin-top: 20px; font-size: 35px;"> Cadastro 2/3:</p>
                                        <label class="Label" for="foto"  style="margin-top:20px"> Foto (opcional):</label>
                                        <br>
                                        <input class="Input" type="file" style="margin-top:20px"> 
                                        <br>
                                        <label class="Label" for="capa"  style="margin-top:20px"> Capa (opcional):</label>
                                        <br>
                                        <input class="Input" type="file" style="margin-top:20px"> 
                                        <br>
                                        <label class="Label" for="descrição"  style="margin-top:20px"> Descrição: </label>
                                        <br>
                                        <input class="Input" type="text" style="margin-top:20px" placeholder="Digite Aqui..."> 
                                        <div class="row-fluid">
                                        <br>
                                        <input class="Botao" type=button type="submit" value="Proximo ->">  </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 vh-100 ColunaDireita">
                </div>             
            </div>
            <footer class = "footer">
                <div class = "row">
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2020 Copyright: PetAdote
                      </div>
                </div>
        </footer>
        </div>

  </body>
  </html>