<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">   

    <title>PetAdote-Tela Principal</title>
    <%- include('partials/head') %>

     <link rel="stylesheet" href='/public/css/css_tela_prinp.css'>
  </head>
  <body>

       <%- include('partials/header') %>
       
       <div class="container">
          <div class="row">
            <div class="col-sm-3" style="background-color: aqua;">
                dawdw
            </div>
            <div class="col-sm-3" style="background-color: blueviolet;">
                dawdwass
            </div>
          </div>
       </div>
      
        <%- include('partials/footer') %>
  </body>
  </html>