.MenuDaEsquerda{

    background-image: url("/public/images/mia_matues2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: greenyellow;
    border: rgb(61, 59, 59) solid 3px;
    justify-content: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: auto;

}
.Trespontos{

    width: 45px;
    height: 45px;
    margin: 10px;
    margin-top: 20px;
}
.Texto{

    margin-left: 10px;
    padding: 5px;


}
.PontoAmarelo{

    width: 25px;
    height: 25px;

}
.Linha{

   position: absolute; top: 305px;
}


.TelaDaDireita{

    background-image: url(/public/images/osiris3_arthur.png);
    background-repeat: no-repeat;
    background-size: 1600px 950px
   
}
.PostsHeader{

    background-color: chocolate;
    margin-left: 160px;
    margin-top: 30px;
    height: 50px;
    border: rgb(61, 59, 59) solid 2px;

}
.Post{

    background-color: rgb(255, 255, 255);
    margin-left: 160px;
    height: 300px;
    border: rgb(61, 59, 59) solid 3px;
    margin-bottom: 60px;
    

}
.PostEsp{

    background-color: rgb(255, 255, 255);
    margin-left: 170px;
    height: 300px;
    border: rgb(61, 59, 59) solid 3px;
    margin-bottom: 60px;
    

}
.PostsHeaderEsp{

    background-color: chocolate;
    margin-left: 170px;
    margin-top: 30px;
    height: 50px;
    border: rgb(61, 59, 59) solid 2px;

}
.Icones{

    width: 45px;
    height: 35px;
    margin-left: 30px
    

}
.Genero{

    width: 35px;
    height: 35px;
    margin-left: 30px
    

}
.Trespontos2{

    width: 25px;
    height: 30px;
    float: right;
    margin-top: 4px ;
   
}