.ColunaDireita{

    background-image: url('/public/images/nescau_benetti.png');
    background-color: violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 80%;

}
.ColunaEsquerda{

    background-image: url('/public/images/gato_sophia.png');
    background-color: rgb(130, 238, 220);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 100%;

}
.ColunaCadastro{

    background-image: url('/public/images/fundoroxo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    border-radius: 5%;
    background-color: violet;
    min-height: 90%;
    height: 90%;
    overflow: auto;

}
.Forms{

    color: greenyellow;
    font-size: 30px;
    justify-content: center;
    opacity: 100%;
    
    }
.Label{

    color: greenyellow;
    font-size: 20px;
    justify-content: center;


}
.Input{

    font-size: 20px;
    


}
.Botao{

    text-align: center;
    background-color: yellowgreen;
    color: white;
    justify-content: center;
   

}
