.ColunaEsquerda{

    background-image: url('https://images.pexels.com/photos/2409490/pexels-photo-2409490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;

}
.ColunaDireita{

    background-image: url('https://images.pexels.com/photos/4734723/pexels-photo-4734723.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;

}
.ContainerLogin{

    background-image:url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8cHVycGxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-color: blue;
    border-radius: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.Input{

align-self: center;
background-color: yellowgreen;
color: white;


}
.EsqueceuASenha{

    color: yellowgreen;


}
.Label{

color: yellowgreen;
font-size: 20px;
justify-content: center;

}