.ColunaDireita{

    background-image: url('/public/images/lili_bia.png');
    background-color: violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 80%;

}
.ColunaEsquerda{

    background-image: url('/public/images/gatinha_caio.png');
    background-color: rgb(130, 238, 220);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 100%;

}
.ColunaCadastro{

    background-image: url('/public/images/fundoroxo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    border-radius: 5%;
    background-color: violet;
    height: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Forms{

    color: greenyellow;
    font-size: 30px;
    justify-content: center;
    opacity: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
.Label{

    color: greenyellow;
    font-size: 25x;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Input{

    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.Botao{

    text-align: center;
    background-color: yellowgreen;
    color: white;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}